.dropdown {
	display: inline-block;
	position: relative;
	max-width: 10em;
}

.dropdown ul {
	position: absolute;
	z-index: 10;
	min-width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #eee;
	box-shadow: 0 3px 2px rgba(0,0,0,0.4);
}
.dropdown li {
	margin: 0;
	padding: 0;
}

.dropdown a,
.dropdown button {
	display: block;
	padding: .25em 1em;
	margin: 0;
	text-decoration: none;
	border: 0;
	white-space: nowrap;
}

.dropdown button {
	height: 2em;
	border-radius: 1em;
}
.dropdown.is-open button {
	border-radius: 1em 1em 0 0;
}


.dropdown a:hover,
.dropdown a:focus {
	background-color: #ddd;
}

