/*
 * all media object styles should give credit to 
 * Nicole Sullivan, aka @stubornella: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 *
 * there are several ways to do this. This one uses floats. For vertical centering, use vertical-centering module. 
 */

$media-left-max-width: $thumbnail-width !default;

/* usage:
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="..." alt="description">
            </a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">.media-heading</h3>
            ... markup ...
        </div>
    </div>
*/

.media {
		@include clearfix;
    margin: 0 auto 1em;
}
.media-left {
    float: left;
    width: 25%;
    max-width: $media-left-max-width; 
    text-align: center;
    margin-right: 1em;
    margin-bottom: 1em;
 }
.media-object {
	max-width: 100%;
}
.media-body {
   	padding: 0.5em;
}
